## Project description
<project_description>
{{ description }}
</project_description>

## Requested parameters
- project_type: {{ project_type }}
- detail_level: {{ detail_level }}
- output_format: {{ output_format }}
