
OPENAI_API_KEY=sk-proj-************************************************************************-N6tj0c****8YRpkA
LLM_MODEL=qwen3.6:27b|gemma4:e2b
LLM_PROVIDER=openai|anthropic|ollama
URL=http://localhost:11434
APP_ENV=development|production
LOG_LEVEL=debug|info|warning|error|critical